---
{{- if eq .chezmoi.os "windows" }}
{{- $mergeCommand := promptString "merge_command" }}
merge.command: "{{ $mergeCommand }}"
{{- end }}
{{- if and (eq .chezmoi.hostname "BFM-5712") (eq .chezmoi.username "phil") }}
keepassxc.database: '/home/phil/dropbox/key/Phil.kdbx'
{{- end }}
