[user]
{{- if eq .chezmoi.hostname "BFM-5712" }}
    email = phil@demona.co
    name = Philip DeMonaco
{{- else }}
    email = pdemon@gmail.com
    name = Phil DeMonaco
{{- end }}
    signingkey = B25ED9A70B6C49B4
[core]
    editor = vim
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/OpenSSH-Win64/ssh.exe
{{- end }}
[color]
    ui = true
[diff]
    colorMoved = zebra
[init]
    defaultBranch = master
[alias]
    co = checkout
    ci = commit 
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
[pull]
    ff = only
{{- if or (eq .chezmoi.osRelease.id "centos") (eq .chezmoi.osRelease.id "rhel") }}
    rebase = true 
{{- else }}
    rebase = merges
{{- end }}
[fetch]
    prune = true
{{- if eq .chezmoi.hostname "BFM-5712" }}
[gpg]
	program = gpg
[commit]
	gpgsign = true
{{- end }}
