[user]
{{- if eq .chezmoi.hostname "bf0-0599-lt" }}
    email = phil@demona.co
    name = Philip DeMonaco
{{- else }}
    email = pdemon@gmail.com
    name = Phil DeMonaco
{{- end }}
    signingkey = B25ED9A70B6C49B4

[core]
    editor = vim
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/WINDOWS/System32/OpenSSH/ssh.exe
{{- end }}
[color]
    ui = true

[alias]
    co = checkout
    ci = commit 
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
{{- if eq .chezmoi.hostname "bf0-0599-lt" }}
[gpg]
	program = gpg
[commit]
	gpgsign = true
{{- end }}
