[user]
    email = phil@demona.co
    name = Philip DeMonaco
    signingkey = 697794DB1550B5D4
[core]
    editor = vim
{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/OpenSSH-Win64/ssh.exe
{{- end }}
{{- if (or (eq .chezmoi.hostname "BFM-5998") (eq .chezmoi.hostname "theseus")) }}
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[interactive]
    diffFilter = "diff-so-fancy --patch"
{{- end }}
[color]
    ui = true
[diff]
    colorMoved = zebra
[init]
    defaultBranch = master
[alias]
    co = checkout
    ci = commit 
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
[pull]
    ff = only
{{- if eq .chezmoi.os "linux" }}
{{- if or (eq .chezmoi.osRelease.id "centos") (eq .chezmoi.osRelease.id "rhel") }}
    rebase = true 
{{- else }}
    rebase = merges
{{- end }}
{{- else }}
    rebase = merges
{{- end }}
[fetch]
    prune = true
{{- if (or (eq .chezmoi.hostname "BFM-5998") (eq .chezmoi.hostname "theseus")) }}
[gpg]
    program = /usr/bin/gpg
[commit]
    gpgsign = true
[safe]
    directory = /opt/puppetlabs/pdk/share/cache/pdk-templates.git/.git
{{- end }}
[pager]
    branch = false
    log = false
