---
{{- if eq .chezmoi.os "windows" }}
merge:
  command: 'C:\tools\vim\vim91\diff.exe'
{{- end }}
{{- if and (eq .chezmoi.hostname "BFM-5998") (eq .chezmoi.username "phil") }}
keepassxc:
  database: '/home/phil/secrets/Phil.kdbx'
{{- end }}
